<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/application.css">

<div class='container-fluid'>
  <div class='row text-center'>
    <h1 id="greeting" class='white-text'>Welcome to the Task Manager!</h1>
  </div>
  <div class='well'>
    <ul class='row text-center list-unstyled'>
      <li class><a href="/tasks"><button class='btn btn-lg btn-info'>Task Index</button></a></li><br>
      <li class><a href="/tasks/new"><button class='btn btn-lg btn-success'>New Task</button></a></li>
    </ul>
  </div>
</div>
